# Stock Market Performance Analysis

## 1. Introduction

# 2. Business Understanding

# 3. Data understanding

# 4. Loading and Prviewing the Datasets

In [6]:
!pip install yfinance

In [7]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [8]:
#I will first  download the historical stock price data for four companies: Apple, Microsoft, Netflix, and Google, for the last three months from the Yahoo API.
start_date = datetime.now() - pd.DateOffset(months=3)
end_date = datetime.now()

tickers = ['AAPL', 'MSFT', 'NFLX', 'GOOG']

df_list = []

for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
    df_list.append(data)

df = pd.concat(df_list, keys=tickers, names=['Ticker', 'Date'])
print(df.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
                         Open        High         Low       Close   Adj Close  \
Ticker Date
AAPL   2023-07-17  191.899994  194.320007  191.809998  193.990005  193.728394
       2023-07-18  193.350006  194.330002  192.419998  193.729996  193.468735
       2023-07-19  193.100006  198.229996  192.649994  195.100006  194.836899
       2023-07-20  195.089996  196.470001  192.500000  193.130005  192.869553
       2023-07-21  194.100006  194.970001  191.229996  191.940002  191.681168

                     Volume
Ticker Date
AAPL   2023-07-17  50520200
       2023-07-18  48353800
       2023-07-19  80507300
       2023-07-20  59581200
       2023-07-21  71917800

In [9]:
# Resetting the index
df= df.reset_index()
df

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,2023-07-17,191.899994,194.320007,191.809998,193.990005,193.728394,50520200
1,AAPL,2023-07-18,193.350006,194.330002,192.419998,193.729996,193.468735,48353800
2,AAPL,2023-07-19,193.100006,198.229996,192.649994,195.100006,194.836899,80507300
3,AAPL,2023-07-20,195.089996,196.470001,192.500000,193.130005,192.869553,59581200
4,AAPL,2023-07-21,194.100006,194.970001,191.229996,191.940002,191.681168,71917800
...,...,...,...,...,...,...,...,...
251,GOOG,2023-10-09,137.990005,139.970001,136.699997,139.500000,139.500000,16599100
252,GOOG,2023-10-10,139.509995,140.740005,138.429993,139.199997,139.199997,19554900
253,GOOG,2023-10-11,139.850006,142.220001,139.839996,141.699997,141.699997,20146300
254,GOOG,2023-10-12,142.160004,142.380005,139.449997,140.289993,140.289993,18173100
255,GOOG,2023-10-13,140.649994,141.339996,137.970001,138.580002,138.580002,19438700

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ticker     256 non-null    object
 1   Date       256 non-null    datetime64[ns]
 2   Open       256 non-null    float64
 3   High       256 non-null    float64
 4   Low        256 non-null    float64
 5   Close      256 non-null    float64
 6   Adj Close  256 non-null    float64
 7   Volume     256 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 16.1+ KB

In [12]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,256.000000,256.000000,256.000000,256.000000,256.000000,2.560000e+02
mean,264.244012,267.175766,261.215566,263.935508,263.855613,2.754547e+07
std,113.957968,115.644475,112.191177,113.736514,113.710521,2.209011e+07
min,120.870003,121.300003,118.684998,119.529999,119.529999,2.697500e+06
25%,162.544998,164.617500,160.674995,163.247494,163.247494,1.490052e+07
50%,253.614998,256.264992,252.365005,254.295006,254.162544,2.044415e+07
75%,357.167511,363.539993,352.147491,356.632492,356.442612,4.363585e+07
max,476.859985,485.000000,470.000000,477.589996,477.589996,1.157997e+08