# Stock Market Performance Analysis

## 1. Introduction

# 2. Business Understanding

# 3. Data understanding

# 4. Loading and Prviewing the Datasets

In [5]:
!pip install yfinance

In [6]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [7]:
#I will first  download the historical stock price data for four companies: Apple, Microsoft, Netflix, and Google, for the last three months from the Yahoo API.
start_date = datetime.now() - pd.DateOffset(months=3)
end_date = datetime.now()

tickers = ['AAPL', 'MSFT', 'NFLX', 'GOOG']

df_list = []

for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
    df_list.append(data)

df = pd.concat(df_list, keys=tickers, names=['Ticker', 'Date'])
print(df.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
                         Open        High         Low       Close   Adj Close  \
Ticker Date
AAPL   2023-06-15  183.960007  186.520004  183.779999  186.009995  185.759155
       2023-06-16  186.729996  186.990005  184.270004  184.919998  184.670624
       2023-06-20  184.410004  186.100006  184.410004  185.009995  184.760498
       2023-06-21  184.899994  185.410004  182.589996  183.960007  183.711929
       2023-06-22  183.740005  187.050003  183.669998  187.000000  186.747818

                      Volume
Ticker Date
AAPL   2023-06-15   65433200
       2023-06-16  101235600
       2023-06-20   49799100
       2023-06-21   49515700
       2023-06-22   51245300

In [10]:
# Resetting the index
df= df.reset_index()
df

,index,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,0,AAPL,2023-06-15,183.960007,186.520004,183.779999,186.009995,185.759155,65433200
1,1,AAPL,2023-06-16,186.729996,186.990005,184.270004,184.919998,184.670624,101235600
2,2,AAPL,2023-06-20,184.410004,186.100006,184.410004,185.009995,184.760498,49799100
3,3,AAPL,2023-06-21,184.899994,185.410004,182.589996,183.960007,183.711929,49515700
4,4,AAPL,2023-06-22,183.740005,187.050003,183.669998,187.000000,186.747818,51245300
...,...,...,...,...,...,...,...,...,...
247,247,GOOG,2023-09-08,135.869995,137.514999,135.869995,137.199997,137.199997,17810700
248,248,GOOG,2023-09-11,137.380005,138.264008,136.550003,137.740005,137.740005,17180800
249,249,GOOG,2023-09-12,137.130005,137.639999,135.929993,136.070007,136.070007,15212900
250,250,GOOG,2023-09-13,135.899994,137.699997,134.929993,137.500000,137.500000,16394900
251,251,GOOG,2023-09-14,138.389999,139.550003,137.059998,138.990005,138.990005,19051800